{% extends 'base/front_base.html' %}

{% block title %}
搜索页面
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/search/search.min.css' %}">
{% endblock %}


{% block main %}
<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">

            <!-- 搜索框 -->
            <div class="search-group">
                <form action="" method="get">
                    <input type="text" name="q" class="search-info" placeholder="可输入新闻关键词、作者名字搜索">
                    <button class="search-btn">搜索</button>
                </form>
            </div>
            <!-- 新闻列表栏 -->
            <div class="list-outer-group">
                <h2>热门推荐</h2>
            </div>
            <!-- 新闻 -->
            <ul class="list-inner-group">
                {% for news in newses %}
                    <li>
                        <div class="thumbnail-group">
                            <a href="javascript:0">
                                <img src="{{ news.thumbnail }}" alt="">
                            </a>
                        </div>
                        <div class="news-group">
                            <p class="title">{{ news.title }}</p>
                            <p class="desc">{{ news.desc }}</p>
                            <p class="more">
                                <span class="categroy">{{ news.category.name }}</span>
                                <span class="pub-time">{{ news.pub_time }}</span>
                                <span class="author">{{ news.author.username }}</span>
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>



            <!-- 加载更多 -->
            <div class="load-more-group">
                <button class="load-more">加载更多</button>
            </div>
        </div>
        {% include 'comment/sider_bar.html' %}
    </div>
</div>
{% endblock %}



