{% extends 'base/front_base.html' %}

{% block title %}
付费资讯
{% endblock %}


{% block header %}
    <link rel="stylesheet" href="{% static 'css/payinfo/payinfo.min.css' %}">
{% endblock %}


{% block main %}
<div class="main">
    <div class="wrapper">
        <div class="venture-left-content">
            <div class="venture-banner">
                <a href="javascript:0">
                    <img src="https://www.xfz.cn/static/build/images/web-shopxfz-banner.jpg" alt="">
                </a>
            </div>
            <div class="venture-book">
                <ul>
                    <li>
                        <div class="venture-img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png" alt="">
                        </div>
                        <div class="venture-introduct">
                            <p class="venture-title">如何写好一份商业计划书</p>
                            <p class="venture-word">一份好的商业计划书，是创业成功的开始！ 好的商业计划书，是创业成功的开始！</p>
                            <p class="venture-price">￥8.8</p>
                        </div>
                    </li>
                    <li>
                        <div class="venture-img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png" alt="">
                        </div>
                        <div class="venture-introduct">
                            <p class="venture-title">如何写好一份商业计划书</p>
                            <p class="venture-word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture-price">￥8.8</p>
                        </div>
                    </li>
                    <li>
                        <div class="venture-img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png" alt="">
                        </div>
                        <div class="venture-introduct">
                            <p class="venture-title">如何写好一份商业计划书</p>
                            <p class="venture-word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture-price">￥8.8</p>
                        </div>
                    </li>
                    <li>
                        <div class="venture-img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png" alt="">
                        </div>
                        <div class="venture-introduct">
                            <p class="venture-title">如何写好一份商业计划书</p>
                            <p class="venture-word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture-price">￥8.8</p>
                        </div>
                    </li>
                    <li>
                        <div class="venture-img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png" alt="">
                        </div>
                        <div class="venture-introduct">
                            <p class="venture-title">如何写好一份商业计划书</p>
                            <p class="venture-word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture-price">￥8.8</p>
                        </div>
                    </li>
                    <li>
                        <div class="venture-img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png" alt="">
                        </div>
                        <div class="venture-introduct">
                            <p class="venture-title">如何写好一份商业计划书</p>
                            <p class="venture-word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture-price">￥8.8</p>
                        </div>
                    </li>
                    <li>
                        <div class="venture-img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png" alt="">
                        </div>
                        <div class="venture-introduct">
                            <p class="venture-title">如何写好一份商业计划书</p>
                            <p class="venture-word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture-price">￥8.8</p>
                        </div>
                    </li>
                    <li>
                        <div class="venture-img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png" alt="">
                        </div>
                        <div class="venture-introduct">
                            <p class="venture-title">如何写好一份商业计划书</p>
                            <p class="venture-word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture-price">￥8.8</p>
                        </div>
                    </li>
                    <li>
                        <div class="venture-img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png" alt="">
                        </div>
                        <div class="venture-introduct">
                            <p class="venture-title">如何写好一份商业计划书</p>
                            <p class="venture-word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture-price">￥8.8</p>
                        </div>
                    </li>
                    <li>
                        <div class="venture-img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png" alt="">
                        </div>
                        <div class="venture-introduct">
                            <p class="venture-title">如何写好一份商业计划书</p>
                            <p class="venture-word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture-price">￥8.8</p>
                        </div>
                    </li>
                    <li>
                        <div class="venture-img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png" alt="">
                        </div>
                        <div class="venture-introduct">
                            <p class="venture-title">如何写好一份商业计划书</p>
                            <p class="venture-word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture-price">￥8.8</p>
                        </div>
                    </li>
                    <li>
                        <div class="venture-img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png" alt="">
                        </div>
                        <div class="venture-introduct">
                            <p class="venture-title">如何写好一份商业计划书</p>
                            <p class="venture-word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture-price">￥8.8</p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        {% include 'comment/sider_bar.html' %}
    </div>
</div>

{% endblock %}




