

<div class="sidebar-wrapper">
            <!-- sidebar头部 -->
            <div class="title-group">
                <span class="title">在线课堂</span>
                <a href="javascript:0" class="title-more">更多</a>
            </div>
            <!-- 广告 -->
            <div class="advertise-group">
                <a href="javascript:0">
                    <img src="https://static-fancube.xfz.cn/1554379231132/22222.jpg-website.active.list" alt="">
                </a>
            </div>
            <div class="platform-group">
                <div class="title-group">
                    <span class="title">关注小饭桌</span>
                </div>
            </div>
            <!-- 推广 关注 -->
            <div class="focus-group">
                <ul class="left-group">
                    <li class="zhihu">
                        <a href="#">小饭桌创业课堂</a>
                    </li>
                    <li class="weibo">
                        <a href="#">小饭桌创业课堂</a>
                    </li>
                    <li class="toutiao">
                        <a href="#">小饭桌</a>
                    </li>
                </ul>
                <div class="right-group">
                    <div class="gzh-img"></div>
                    <p class="gzh-desc">扫码关注小饭桌微信公众号平台xfz008</p>
                </div>
            </div>
            <!-- 热点推送 -->
            <div class="platform-group">
                <div class="title-group">
                    <span class="title">热点推送</span>
                </div>
            </div>
            <div class="hot-list">
                <ul class="hot-list-group">
                    <li>
                        <div class="left-group">
                            <p>早报：消息称京东正酝酿大裁员...</p>
                            <p class="more">
                                <span class="categroy">
                                    <a href="#">深度报道</a>
                                </span>
                                <span class="pub-time">04-16 16:52:24</span>
                            </p>
                        </div>
                        <div class="right-group">
                            <img src="https://static-image.xfz.cn/1555045938_497.jpg-website.news.list" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>